.main__content{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 70px;
}

.notice{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 80px;
    left: 70px;
    background-color: var(--color-03);
    padding: 10px 20px;
    border-radius: var(--border-radius-1);
    transition: var(--transition);
    font-family: var(--font-01);
    font-size: 16px;
    max-width: calc(100% - 30px);
}

.note{
    width: 100%;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-02);
    outline: none;
    padding: 5px 10px;
    color: var(--color-01);
    font-weight: bold;
    text-align: center;
    
    -moz-appearance: textfield;
    appearance: textfield;
}
.note::placeholder{color: var(--color-01-2);}
.note:focus{box-shadow: 0 0 2.5px var(--color-02);}
.note::-webkit-inner-spin-button { -webkit-appearance: none;}

.note:first-child{margin-right: 10px;}

.content__notes{
    display: flex;
}

.content__results{
    background-color: var(--color-03-2);
    margin-top: 10px;
    border-radius: var(--border-radius-1);
    padding: 10px;
    color: var(--color-01);
    font-size: 12px;
}

.calculation{
    position: fixed;
    left: 60px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 70px);
    height: 70px;
    background-color: var(--color-02);
    transition: var(--transition);
}

.nav-open .calculation{
    left: 250px;
    width: calc(100% - 260px);
}

.calculation input{
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: var(--color-05);
    font-weight: bold;
    border: none;
    background-color: var(--color-03);
    border-radius: var(--border-radius-1);
}

@media screen and (max-width: 800px) {
    .notice{
        bottom: 140px;
        left: 10px;
    }

    .calculation{
        left: 0;
        bottom: 60px;
        width: calc(100% - 10px);
    }
}
